@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$main-font: "Montserrat", sans-serif;
$main-color: #06cddb;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #06cddb, #00d2ff);
    background: linear-gradient(to right, #06cddb, #00d2ff);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #dce4ff, #e2e2e2);
    background: linear-gradient(to right, #dce4ff, #e2e2e2);
    clip-path: circle(20% at left 80%);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #dce4ff, #e2e2e2);
    background: linear-gradient(to right, #dce4ff, #e2e2e2);
    clip-path: circle(20% at right 30%);
}

.form {
    text-align: center;
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
