@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./animations.scss";

$main-font: "Montserrat", sans-serif;
$main-color: #06cddb;
$main-white: #f1f1f1;
$main-dark: rgb(29, 29, 29);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    border: none;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #06cddb, #00d2ff);
    background: linear-gradient(to right, #06cddb, #00d2ff);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #dce4ff, #e2e2e2);
    background: linear-gradient(to right, #dce4ff, #e2e2e2);
    clip-path: circle(40% at left 80%);
    animation: apareceBall1 1s;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #dce4ff, #e2e2e2);
    background: linear-gradient(to right, #dce4ff, #e2e2e2);
    clip-path: circle(45% at right 5%);
    animation: apareceBall2 1s;
}

.icons {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    animation: aparece 2s;
    * {
        color: $main-white;
    }
    .fa-linkedin:hover {
        transform: all 2s;
        &::after {
            font-size: 1rem;
            font-family: $main-font;
            position: absolute;
            content: "Linkedin";
            top: 116.8px;
            left: 596.8px;
            text-align: center;
            animation: aparece 1s;
        }
    }
    .fa-github:hover {
        transform: all 2s;
        &::after {
            font-size: 1rem;
            font-family: $main-font;
            position: absolute;
            content: "Github";
            top: 116.8px;
            left: 944px;
            text-align: center;
            animation: aparece 1s;
        }
    }
}

.form {
    //Configurando display
    display: flex;
    align-items: center;
    justify-content: center;
    //Definindo tamanho
    width: 800px;
    height: 450px;
    //Alinhando texto ao centro
    text-align: center;
    //Estilizando a box
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.082);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rbga(255, 255, 255, 0.5);
    border-left: 1px solid rbga(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    //Adicionando animação
    animation: aparece 2s;

    h1 {
        color: $main-white;
        transform: translateY(-150px);
    }

    .label-form {
        color: $main-white;
        font-weight: 600;
    }

    .input-form {
        background: rgba(255, 237, 237, 0.24);
        &:active {
            background: rgba(255, 237, 237, 0.24);
        }
    }

    .submit-button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: $main-white;
        color: $main-dark;
        font-weight: 600;
        transition: all 0.2s;
        &:hover {
            color: $main-white;
            background: rgba(255, 237, 237, 0.24);
        }
    }

    &:hover {
        h1 {
            transform: translateY(-200px);
            opacity: 0;
            transition: 0.2s;
        }
        .content {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        transition: 0.5s;
        transform: translateY(100px);
        opacity: 0;
        position: absolute;
    }
}
