@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@keyframes apareceBall1 {
  0% {
    -webkit-clip-path: circle(25% at left 60%);
            clip-path: circle(25% at left 60%);
  }
  100% {
    -webkit-clip-path: circle(40% at left 80%);
            clip-path: circle(40% at left 80%);
  }
}
@keyframes apareceBall2 {
  0% {
    -webkit-clip-path: circle(25% at right 10%);
            clip-path: circle(25% at right 10%);
  }
  100% {
    -webkit-clip-path: circle(45% at right 5%);
            clip-path: circle(45% at right 5%);
  }
}
@keyframes apareceform {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #00d2ff;
  background: linear-gradient(to right, #06cddb, #00d2ff);
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c9d6ff;
  background: linear-gradient(to right, #dce4ff, #e2e2e2);
  -webkit-clip-path: circle(40% at left 80%);
          clip-path: circle(40% at left 80%);
  animation: apareceBall1 1s;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c9d6ff;
  background: linear-gradient(to right, #dce4ff, #e2e2e2);
  -webkit-clip-path: circle(45% at right 5%);
          clip-path: circle(45% at right 5%);
  animation: apareceBall2 1s;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 450px;
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.082);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rbga(255, 255, 255, 0.5);
  border-left: 1px solid rbga(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1;
  animation: apareceform 2s;
}
.form h1 {
  color: #f1f1f1;
}
.form:hover h1 {
  transform: translateY(-100px);
  opacity: 0;
  transition: 0.2s;
}
.form:hover .content {
  transform: translateY(0);
  opacity: 1;
}
.form .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
  position: absolute;
}